<%- model_class = Group -%>
<div class="grid-16-8 clearfix">
  <div class="article">
   <div class="group-list">
     <% @groups.each do |group| %>
    <div class="result">
      <div class="pic">
      </div>
      <div class="content">
        <div class="group-title">
          <h3><%= link_to group.name, group_topics_path(group) %></h3>
        </div>
        <div class="info"></div>
        <div><p><%= sanitize group.introduction %></p></div>
      </div>
    </div>
     <% end %>
</div>
</div>
</div>

<%= link_to t('.new', :default => t("新建讨论组")),
            new_group_path,
            :class => 'btn btn-primary' %>
